nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 75px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

nav .Center {
    width: 100%;
    padding: 0px 2%;
    max-width: 1100px;
    margin: auto;
}

nav .logo {
    padding: 30px 0px 0px 0px;
    padding-top: 0px;
    width: 220px;
    float: left;
    transition: all 0.3s;
}

nav .logo h1 {
    margin: 0px;
    font-style: italic;
}

nav .logo h1 a {
    font-size: 36px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: rgb(3, 3, 3) 0px 2px 5px;
    transition: all 0.7s ease;
}

nav .logo h1 a span {
    color: #ff9000;
}

.Navigation {
    float: right;
    width: 68.18%;
    margin-right: 11px;
}

.Navigation ul {
    list-style: none;
    margin: 0px;
    float: right;
}

.Navigation li {
    font-style: italic;
    float: left;
    padding: 0px;
    margin: 0px;
    height: 70px;
    position: relative;
    transition: all 0.3s ease;
}

.Navigation li a {
    padding: 42px 41px 36px 41px;
    font-size: 16px;
    color: #ff9000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 20px;
}

body {
    background: #fff;
}

.Navigation li span {
    border-bottom: solid 5px #ff9000;
    background: rgba(56, 87, 122, 1);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
    transition: all 0.5s ease;
}

.Navigation li:hover span,
.Navigation li.active span {
    opacity: 1;
}

.mobile {
    display: none;
}

#forms {
    display: none;
}